.contentWrap{
    display: none;
}

.error{
    color:red;
}

.whisper{
    color:gray;
    font-style: italic;
}

.color-active:focus{
    color: green;
}
.color-active:not(:focus){
    color: white;
}


  



